/**
* 
* @desc Contains primary brand colors    // description of what styles contained in this file
* @name Colors   // name of the file, module, component, etc
* @author Paul Dariye  // name of the author of the file
* @tested  [TESTED] // list of browsers styles have been tested on
* @requires // list of file dependencies
*
*/

// primary palette
$primary: #3359df;
$primary-alt-one: #0B22AB;
$primary-alt-two: #6376f9;
$primary-alt-three: #A1B0FF;

// primary highlights
$primary-light: lighten($primary, 15%);
$primary-alt-one-light: lighten($primary-alt-one, 15%);
$primary-alt-two-light: lighten($primary-alt-two, 15%);
$primary-alt-three-light: lighten($primary-alt-three, 15%);

// primary shadows
$primary-dark: darken($primary, 15%);
$primary-alt-one-dark: darken($primary-alt-one, 15%);
$primary-alt-two-dark: darken($primary-alt-two, 15%);
$primary-alt-three-dark: darken($primary-alt-three, 15%);

// secondary palette
$secondary: #77CF42;
$secondary-one: #F0405E;
$secondary-two: #0FD8E8;
$secondary-three: #A72DD4;
$secondary-four: #09DBAA;
$secondary-five: #F7941E;

// secondary highlights
$secondary-light: lighten($secondary, 15%);
$secondary-one-light: lighten($secondary-one, 15%);
$secondary-two-light: lighten($secondary-two, 15%);
$secondary-three-light: lighten($secondary-three, 15%);
$secondary-four-light: lighten($secondary-four, 15%);
$secondary-five-light: lighten($secondary-five, 15%);

// secondary shadows
$secondary-dark: darken($secondary, 15%);
$secondary-one-dark: darken($secondary-one, 15%);
$secondary-two-dark: darken($secondary-two, 15%);
$secondary-three-dark: darken($secondary-three, 15%);
$secondary-four-dark: darken($secondary-four, 15%);
$secondary-five-dark: darken($secondary-five, 15%);





