/*doc
---
title: Buttons
name: Buttons
category: Components
---


Button styles can be applied to any element. Typically you'll want to
use either a `<button>` or an `<a>` element:
```html_example
<button class="btn btn__default">Click</button>
<a class="btn btn__default" href="http://andela.com">Don't click</a>
```
If your button is actually a link to another page, please use the
`<a>` element, while if your button performs an action, such as submitting
a form or triggering some javascript event, then use a `<button>` element.

##Button Sizes
There are three 3 sizes for buttons: Large, medium (default)
and small. Simply apply the size modifier class for the desired size.
There is also an additional modifier that will make the button take the
full width of the container. It may be used with the any of the button
size and style modifiers.


###Hairline Buttons
Button                                                            | Modifier Class
----------------------------------------------------------------- | -----------------
<button class="button button__flat button__flat--no-border-radius">Hairline</button>              |   `button button__flat button__flat--no-border-radius`
<button class="button button__flat button__flat--with-border-radius">Default</button>                   |   `button button__flat button__flat--with-border-radius`
<button class="button button__flat button__flat--with-shadow">Small</button>              | `button button__flat button__flat--with-shadow`
<button class="button button__flat button__flat--with-shadow-and-radius">Full width</button>   | `button button__flat button__flat--with-shadow-and-radius`


###Solid Buttons
Button                                                            | Modifier Class
----------------------------------------------------------------- | -----------------
<button class="button button__solid button__solid--no-border-radius">Hairline</button>              |   `button button__solid button__solid--no-border-radius`
<button class="button button__solid button__solid--with-border-radius">Default</button>                   |   `button button__solid button__solid--with-border-radius`
<button class="button button__solid button__solid--with-shadow">Small</button>              | `button button__solid button__solid--with-shadow`
<button class="button button__solid button__solid--with-shadow-and-radius">Full width</button>   | `button button__solid button__solid--with-shadow-and-radius`


###Button Groups
####Solid Button Groups
Button                                                            | Modifier Class
----------------------------------------------------------------- | -----------------
<span class="button-group">
  <button class="button-group__button">One</button>
  <button class="button-group__button">Two</button>
  <button class="button-group__button">Three</button>
  <button class="button-group__button">Four</button>
</span>  |  `button-group button-group__button`

####Hairline Button Groups
Button                                                            | Modifier Class
----------------------------------------------------------------- | -----------------
<span class="button-group">
  <button class="button-group__button-hairline">One</button>
  <button class="button-group__button-hairline">Two</button>
  <button class="button-group__button-hairline">Three</button>
  <button class="button-group__button-hairline">Four</button>
</span>  |  `button-group button-group__button`

*/


/* Your code here */

$hover_color: #0940C9;

.button {
    width: 8em;
    height: 2em;
    outline: none;
    &__flat:hover{
      color: white;
      background: $primary;
      cursor: pointer;
    }

    &__flat{
      color: $primary;
      background: white;
      border: 1px solid $primary;
      &--no-border-radius {
        border-radius: 0;
      }
      &--with-border-radius {
        border-radius: 3px;
      }
      &--with-shadow{
        box-shadow:0px 2px 5px #888888;
        &:hover{
          @extend .button__flat:hover;
          box-shadow: 0px 1px 2px #888888;
        }
      }
      &--with-shadow-and-radius{
        box-shadow:0px 2px 5px #888888;
        border-radius: 3px;
        &:hover{
          @extend .button__flat--with-shadow;
        }
      }
    }
    &__solid:hover{
      color: $primary;
      background: white;
      cursor: pointer;
    }
    &__solid {
      color: white;
      background: $primary;
      border: 1px solid $primary;
      &--no-border-radius {
        @extend .button__flat--no-border-radius

      }
      &--with-border-radius {
        @extend .button__flat--with-border-radius
      }
      &--with-shadow{
        @extend .button__flat--with-shadow
      }
      &--with-shadow-and-radius{
          @extend .button__flat--with-shadow-and-radius
        }
    }
      &__with-icon--flat {
        @extend .button__flat
      }

      &__with-icon--solid {
        @extend .button__solid
      }

      &__icon-button {
        width: 3em;
        height: 3em;
        &--flat{
          @extend .button__flat;
        }
      }
  }
  .button-group {
  font-size: 0;
  line-height: 1;
  white-space: nowrap;
  display: inline; // ?

  &__button { // sass bem is cool
    font-size: 1rem;
    letter-spacing: .1em;
    text-decoration: none;
    text-transform: uppercase;
    background: $primary;
    // border: 2px solid #7f8c8d;
    margin: 0 -1px -1px;
    border-left-width: 0;
    display: inline-block;
    padding: .5em 1.25em;
    color: white;
    outline: 0; // no glow crap

    &:first-child {
      border-left-width: 2px;
      border-radius: .4em 0 0 .4em;
    }

    &:last-child {
      border-radius: 0 .4em .4em 0;
    }

    &:link {
      color: #bdc3c7;
    }

    &:visted {
      color: #bdc3c7;
    }

    &:hover {
      background: $hover_color;
      color: #fff;
      cursor: pointer;
    }

    &:active {
      background: #fff;
      color: $primary;

    }
  }
  &__button-hairline{
    @extend .button-group__button;
    background: white;
    border: 2px solid $primary;
    color: $primary;
    &:hover{
      background: $primary;
      color: white;
    }
  }
}
