a {
  text-decoration: none;
}

.row {
  margin-bottom: 3rem;
}

.card {
  position: relative;
  left: 0;
  right: 0;
  border: 1px solid #e3e3e3;
  width: 90%;
  cursor: pointer;

  -webkit-box-shadow: 0px 2px 2px 0px rgba(208,208,208,1);
  -moz-box-shadow: 0px 2px 2px 0px rgba(208,208,208,1);
  box-shadow: 0px 2px 2px 0px rgba(208,208,208,1);


  .card-img-top {
    width: 100%;
    height: auto;
  }

  .image-full {
    width: 100%;
    min-height: 23rem;
    margin-bottom: -.35rem;

  }

  .card-before-img {
    padding: 1rem;

    .username {
      margin: 0;
      color: #3359DF;

      .avatar {
        height: 2rem;
        border-radius: 100%;
        vertical-align: middle;
        margin-right: .2rem;
      }
    }

    .date {
      margin: .3rem 0 0 0;
      text-align: right;
      color: #979797;
      font-size: small;
      vertical-align: middle;
    }


  }

  hr {
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;
  }

  .card-comment {
    text-align: center;

    .comment {
      border-color: transparent!important;
      background: transparent;
      margin: .5rem 0 .5rem 4rem;
      box-shadow: none!important;
    }

  }


  .card-block {
    padding: 1.25rem;



    .comments {
      float: left;

      p {
        margin: 0;
        font-size: small;
      }
    }

    .likes {
      float: right;

      p {
        margin: 0;
        font-size: small;
      }
    }

    .card-title {
      margin: 0;
    }

    // .card-text {
    //   margin-top: 0;
    // }

    .date {
      margin: 0;
      color: #3359DF;
      font-size: small;
      text-align: right;
    }

  }
}



