/*doc
---
title: Navbar
name: nav
category: Components
---

Will serve as the navigation header for your application or site. We can have different variations for the nav.
## Navbar variations
### Navbar default
This is the default navbar has a white background. This nav is static by default

```html_example
<nav class="navbar navbar--default">

    <div class="navbar__header">
      <a href="" class="navbar__brand">
        <div class="logo--blue"></div>
      </a>
    </div>

    <div class="navbar__nav">
      <ul class="navbar__nav--left">
        <li class="navbar__item "><a href="#" class="navbar__link">One</a></li>
        <li class="navbar__item "><a href="#" class="navbar__link">One</a></li>
        <li class="navbar__item "><a href="#" class="navbar__link">One</a></li>
      </ul>

      <ul class="navbar__nav--right">
        <li class="navbar__item ">
          <a href="#" class="navbar__link">Dropdown &#9662</a>
          <ul class="navbar__dropdown">
            <li><a href="#">Themes</a></li>
            <li><a href="#">Plugins</a></li>
            <li><a href="#">Tutorials</a></li>
          </ul>
        </li>
      </ul>

      <div class="cta">
        <span class="vertical_line"></span>
        <button class="btn btn__primary">PRIMARY</button>
      </div>

    </div>

  </nav>
```

### Navbar blue
With this variation the the background is transparent with the nav-links being white in colour

```html_example
<nav class="navbar navbar--blue">

  <div class="navbar__nav">
    <ul class="navbar__nav--left">
      <li class="navbar__item "><a href="#" class="navbar__link">One</a></li>
      <li class="navbar__item "><a href="#" class="navbar__link">One</a></li>
      <li class="navbar__item "><a href="#" class="navbar__link">One</a></li>
    </ul>

    <ul class="navbar__nav--right">
      <li class="navbar__item ">
        <a href="#" class="navbar__link">One</a>
      </li>
      <li class="navbar__item ">
        <a href="#" class="navbar__link">Dropdown &#9662</a>
      </li>
      <li class="navbar__item "><a href="#" class="navbar__link">One</a></li>
    </ul>
  </div>
</nav>
```

## Component Alignment
We can have components aligned to the right side of the nav or left side of the nav

### Components aligned to the right
In this scenario, our nav-items will be on the right side of the nav

```html_example
<nav class="navbar navbar--default">

  <div class="navbar__nav">
    <ul class="navbar__nav--right">
      <li class="navbar__item ">
        <a href="#" class="navbar__link">One</a>
      </li>
      <li class="navbar__item ">
        <a href="#" class="navbar__link">Dropdown &#9662</a>
      </li>
      <li class="navbar__item "><a href="#" class="navbar__link">One</a></li>
    </ul>
  </div>
</nav>
```


### Components aligned to the left
Here, we have our nav-items aligned to the left side of the nav.



```html_example
<nav class="navbar navbar--default">

  <div class="navbar__header">
    <a href="" class="navbar__brand">
      <div class="logo--blue"></div>
    </a>
  </div>

  <div class="navbar__nav">
    <ul class="navbar__nav--left">
      <li class="navbar__item "><a href="#" class="navbar__link">One</a></li>
      <li class="navbar__item "><a href="#" class="navbar__link">One</a></li>
      <li class="navbar__item "><a href="#" class="navbar__link">One</a></li>
    </ul>
  </div>
</nav>
```


*/

/* Your code here */

$blue: #3359df;
$white: #ffffff;
$black: #000000;
$border: #dddddd;

body {
  margin: 0;
}

button {
  background: none;
  border: none;
  outline: none;
  transition: all .3s ease-in-out;
  font-size: 70%;
}

// .btn {
//   cursor: pointer;
//   border-radius: 4px;
//   padding: .8rem 2.5rem;
// }

.cta {
  margin: 0 1rem;
  display: inherit;
}

// .btn__primary {
//   background-color: $white;
//   color: $blue;
//   border: 1px solid $blue;
// }

.vertical_line {
  border-right: 1px solid black;
  margin-right: 1rem;
}

.navbar {
  $block: &;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 3.5rem;



  &__header {
    // float: left;
    // align-items: left;
  }



  &__brand {
    float: left;
    padding: 0;
    font-size: .9rem;
    line-height: 1rem;
  }


  &--fixed-top, &--fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  &--fixed-top {
    top: 0;
  }

  &--fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
  }

  &--default {
    background-color: $white;
    border-bottom: 1px solid $border;



    #{$block}__nav {
      width: 85%;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;

      &--left {
      display: flex;
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
      }

      &--right {
      display: flex;
      width: 90%;
      display: inline-flex;
      align-items: center;
      justify-content: flex-end;
      }

    }

    #{$block}__item {
      padding: 0 1.1rem;
      list-style: none;
      line-height: 3.6rem;
      cursor: pointer;

      .navbar__dropdown {
        background: $blue;
        display: none;
        position: absolute;
        top: 85%;
        padding: 0;
        margin-left: -1.1rem;
        list-style: none;

        li {
          float: none;
          border-bottom: 1px solid $white;
          position: relative;
          text-align: center;
          line-height: 2.8rem;

          a {
            text-decoration: none;
            color: $white;
            padding: 0 2rem;
            display: block;
          }

          &:hover {
            background: blue;
          }
        }
      }

      &:hover {
        background: $blue;
        .navbar__link {
          color: $white;
        }
        > ul {
          display: block;
        }
      }

    }

    #{$block}__link {
      text-decoration: none;
      color: $black;
      font-weight: 500;
      cursor: pointer;

      &:hover {
        color: $white;
      }
    }

  }

  &--blue {
    background-color: $blue;
    border-bottom: 1px solid $border;

    #{$block}__nav {
      width: 85%;
      display: flex;
      flex-direction: row;
      align-items: center;

      &--left {
      display: flex;
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
      }

      &--right {
      display: flex;
      width: 90%;
      display: inline-flex;
      align-items: center;
      justify-content: flex-end;
      }

    }

    #{$block}__item {
      padding: 0 1.1rem;
      list-style: none;
      line-height: 3.6rem;
      cursor: pointer;

      .navbar__dropdown {
        min-width: 100%; /* Set width of the dropdown */
        background: $blue;
        display: none;
        position: absolute;
      }

      &:hover {
        background: $white;
        .navbar__link {
          color: $blue;
        }
        > ul {
          display: block;
          li {
            display: block;
            border-bottom: 1px solid $blue;

            a {
              text-decoration: none;
            }
          }
        }
      }
    }

    #{$block}__link {
      text-decoration: none;
      color: $white;
      font-weight: 500;
      cursor: pointer;

      &:hover {
        color: $blue;
      }
    }

  }
}



.logo {
  &--blue {
    height: 100%;
    padding: 1.1rem;
    width: 7rem;
    background: url('../images/logo-blue.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  &--white {
    height: 100%;
    padding: 1.1rem;
    width: 7rem;
    background: url('../images/logo-white.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
