/*doc
---
title: Navbar
name: nav
category: Components
---

Will serve as the navigation header for your application or site. We can have different variations for the nav.
## Navbar variations
### Navbar default
This is the default navbar has a blue background. This nav is static by default

```html_example
<nav class="navbar navbar--default">

  <div class="navbar__nav navbar__nav--left">
    <a href="#" class="navbar__item navbar__link">One</a>
    <a href="#" class="navbar__item navbar__link">Two</a>
    <a href="#" class="navbar__item navbar__link">Three</a>
  </div>

  <div class="navbar__nav navbar__nav--right">
    <a href="#" class="navbar__item navbar__link">One</a>
    <a href="#" class="navbar__item navbar__link">Two</a>
    <a href="#" class="navbar__item navbar__link">Three</a>
  </div>

</nav>
```

### Navbar transparent
With this variation the the background is transparent with the nav-links being blue in colour

```html_example
<nav class="navbar navbar--transparent">

  <div class="navbar__header">
    <a href="" >
      <img src="images/logo.png" alt="" class="logo--nav">
    </a>
  </div>

  <div class="navbar__nav navbar__nav--right">
    <a href="#" class="navbar__item navbar__link">One</a>
    <a href="#" class="navbar__item navbar__link">Two</a>
    <a href="#" class="navbar__item navbar__link">Three</a>
  </div>

</nav>
```

### Navbar fixed-top
We have a sticky nav at the top with this variation

```html_example
<nav class="navbar navbar--default navbar--fixed--top">

  <div class="navbar__header">
    <a href="" >
      <img src="images/logo.png" alt="" class="logo--nav">
    </a>
  </div>

  <div class="navbar__nav navbar__nav--right">
    <a href="#" class="navbar__item navbar__link">One</a>
    <a href="#" class="navbar__item navbar__link">Two</a>
    <a href="#" class="navbar__item navbar__link">Three</a>
  </div>

</nav>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi unde sapiente soluta doloribus quam ea, ratione odit. Voluptatum enim ex exercitationem sunt sint! Ipsum et possimus ex nihil quibusdam praesentium.</p>
<p>Sint aperiam nesciunt laboriosam eveniet amet, a aspernatur aliquid numquam cupiditate odit pariatur fuga, quibusdam, perferendis debitis provident consequatur omnis et sit. Tempora aut at, amet similique ducimus corporis cum.</p>
<p>Incidunt doloremque qui modi ad, aperiam at, voluptates debitis facere molestias ullam rerum, quisquam magnam dicta sequi asperiores quidem alias officia vitae ipsa similique quae quam dolorum repellat impedit aliquid.</p>
<p>Asperiores maxime consectetur mollitia quasi voluptatibus a hic dignissimos excepturi exercitationem dolore, nam ipsa iste suscipit eum molestias eius dolor omnis reprehenderit laborum, modi voluptate, magnam pariatur praesentium voluptatum! Animi.</p>
```
## Component Alignment
We can have components aligned to the right side of the nav or left side of the nav

### Components aligned to the right
In this scenario, our nav-items will be on the right side of the nav

```html_example
<nav class="navbar navbar--default">

  <div class="navbar__header">
    <a href="" >
      <img src="images/logo.png" alt="" class="logo--nav">
    </a>
  </div>

  <div class="navbar__nav navbar__nav--right">
    <a href="#" class="navbar__item navbar__link">One</a>
    <a href="#" class="navbar__item navbar__link">Two</a>
    <a href="#" class="navbar__item navbar__link">Three</a>
  </div>

</nav>
```


### Components aligned to the left
Here, we have our nav-items aligned to the left side of the nav.



```html_example
<nav class="navbar navbar--default">

  <div class="navbar__header">
    <a href="" >
      <img src="images/logo.png" alt="" class="logo--nav">
    </a>
  </div>

  <div class="navbar__nav navbar__nav--left">
    <a href="#" class="navbar__item navbar__link">One</a>
    <a href="#" class="navbar__item navbar__link">Two</a>
    <a href="#" class="navbar__item navbar__link">Three</a>
  </div>

</nav>
```


*/

/* Your code here */



.navbar {
  $block: &;

  position: relative;
  min-height: 2rem;
  padding: .6rem 2rem;
  @include clearfix();


  &__header {
    float: left;
    @include clearfix();
  }

  &__brand {
    float: left;
    height: 50px;
    padding: (.6rem / 2) 2rem;
    font-size: 18px;
    line-height: 20px;
    color: white;
    text-decoration: none;
  }


  &--fixed-top, &--fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  &--fixed-top {
    top: 0;
  }

  &--fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
  }

  &--default {
    background-color: blue;


    #{$block}__nav {
      margin: 0;

      &--right {
        float: right;
      }

      &--left {
        float: left;
      }
    }

    #{$block}__item {
      margin-left: .7rem;
      height: 2.1rem;
    }

    #{$block}__link {
      text-decoration: none;
      color: white;

      &:hover {
        background-color: white;
        color: blue;
      }
    }
  }

  &--transparent {
    background-color: transparent;

    #{$block}__nav {
      margin: 0;

      &--right {
        float: right;
      }

      &--left {
        float: left;
      }
    }

    #{$block}__item {
      margin-left: .7rem;
      height: 2.1rem;
    }

    #{$block}__link {
      text-decoration: none;
      color: blue;

      &:hover {
        background-color: blue;
        color: white;
      }
    }
  }
}



.logo {
  &--nav {
    width: 6rem;
    margin-top: -.1rem;
  }
}
