/*doc
---
title: Navbar
name: nav
category: Components
---

Will serve as the navigation header for your application or site. We can have different variations for the nav.
## Navbar variations
### Navbar default
This is the default navbar has a white background. This nav is static by default

```html_example
<nav class="navbar navbar--default">

  <div class="navbar__header">
    <a href="" class="navbar__brand">
      <div class="logo--blue"></div>
    </a>
  </div>

  <div class="navbar__nav">
    <ul class="navbar__nav--left">
      <li class="navbar__item "><a href="#" class="navbar__link">One</a>
      <ul class="navbar__dropdown">
          <li class="nav__dropdown__item"><a href="#">Themes</a></li>
          <li class="nav__dropdown__item"><a href="#">Plugins</a></li>
          <li class="nav__dropdown__item"><a href="#">Tutorials</a></li>
        </ul></li>
    </ul>

    <ul class="navbar__nav--right">
      <li class="navbar__item ">
        <a href="#" class="navbar__link">One</a>
      </li>
      <li class="navbar__item ">
        <a href="#" class="navbar__link">Dropdown ▾</a>
        <ul class="navbar__dropdown">
          <li><a href="#">Themes</a></li>
          <li><a href="#">Plugins</a></li>
          <li><a href="#">Tutorials</a></li>
        </ul>
      </li>
      <li class="navbar__item "><a href="#" class="navbar__link">One</a></li>
    </ul>

    <div class="cta">
      <span class="vertical_line"></span>
      <button class="btn btn__primary">PRIMARY</button>
    </div>

  </div>
</nav>
```

## Component Alignment
We can have components aligned to the right side of the nav or left side of the nav

### Components aligned to the right
In this scenario, our nav-items will be on the right side of the nav

```html_example
<nav class="navbar navbar--default">

    <div class="navbar__header">
      <a href="" class="navbar__brand">
        <div class="logo--blue"></div>
      </a>
    </div>

    <div class="navbar__nav">

      <ul class="navbar__nav--right">
        <li class="navbar__item ">
          <a href="#" class="navbar__link">One</a>
        </li>
        <li class="navbar__item ">
          <a href="#" class="navbar__link">Dropdown ▾</a>
          <ul class="navbar__dropdown">
            <li><a href="#">Themes</a></li>
            <li><a href="#">Plugins</a></li>
            <li><a href="#">Tutorials</a></li>
          </ul>
        </li>
        <li class="navbar__item "><a href="#" class="navbar__link">One</a></li>
      </ul>

    </div>

  </nav>
```


### Components aligned to the left
Here, we have our nav-items aligned to the left side of the nav.



```html_example
<nav class="navbar navbar--default">

  <div class="navbar__header">
    <a href="" class="navbar__brand">
      <div class="logo--blue"></div>
    </a>
  </div>

  <div class="navbar__nav">
    <ul class="navbar__nav--left">
      <li class="navbar__item "><a href="#" class="navbar__link">One</a></li>
      <li class="navbar__item "><a href="#" class="navbar__link">One</a></li>
      <li class="navbar__item "><a href="#" class="navbar__link">One</a></li>
    </ul>
  </div>
</nav>
```

### Nav with search form
```html_example
<nav class="navbar navbar--default">

  <div class="navbar__header">
    <a href="" class="navbar__brand">
      <div class="logo--blue"></div>
    </a>
  </div>

  <div class="navbar__nav">
    <ul class="navbar__nav--left">
      <form>
        <div class="search-area">
          <input type="text" placeholder="search..." class="seven-eiths search">
          <button class="btn btn__primary btn__search"><span><svg class="icon-interface-search icon-search"><use xlink:href="dist/css/icons/sprite.svg#icon-interface-search"></use></svg></span></button>
        </div>
      </form>
    </ul>

    <ul class="navbar__nav--right">
      <li class="navbar__item "><a href="#" class="navbar__link">One</a></li>
    </ul>

    <div class="cta">
      <span class="vertical_line"></span>
      <button class="btn btn__primary">PRIMARY</button>
    </div>

  </div>
</nav>
```


*/

/* Your code here */

$blue: #3359df;
$white: #ffffff;
$black: #000000;
$border: #dddddd;
$nav-hover: #f8f8f8;

body {
  margin: 0;
}

.cta {
  margin: 0 1rem;
  display: inherit;
}

.vertical_line {
  border-right: 1px solid black;
  margin-right: 1rem;
}

.navbar {
  $block: &;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 3.5rem;



  &__header {
    // float: left;
    // align-items: left;
  }



  &__brand {
    float: left;
    padding: 0;
    font-size: .9rem;
    line-height: 1rem;
  }


  &--fixed-top, &--fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  &--fixed-top {
    top: 0;
  }

  &--fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
  }

  &--default {
    background-color: $white;
    border-bottom: 1px solid $border;



    #{$block}__nav {
      width: 85%;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;

      &--left {
      display: flex;
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
      }

      &--right {
      display: flex;
      width: 90%;
      display: inline-flex;
      align-items: center;
      justify-content: flex-end;
      }

    }

    #{$block}__item {
      padding: 0 1.1rem;
      list-style: none;
      line-height: 3.6rem;
      cursor: pointer;

      .navbar__dropdown {
        background: $white;
        display: none;
        position: absolute;
        top: 83%;
        padding: 0;
        margin-left: -1.1rem;
        list-style: none;
        border-top: 5px solid $blue;
        z-index: 1003;

        li {
          float: none;
          position: relative;
          text-align: center;
          line-height: 2rem;
          margin: .5rem 0;

          a {
            text-decoration: none;
            color: #949494;
            padding: 0 2rem;
            display: block;
            font-size: .9rem;

            &:hover {
              color: $blue;
            }
          }

          &:hover {
            background: $nav-hover;
            color: #949494;
          }
        }
      }

      &:hover {
        background: $nav-hover;
        border-bottom: 1px solid $border;

        .navbar__link {
          color: $blue;
        }

        > ul {
          display: block;
        }
      }

    }

    #{$block}__link {
      text-decoration: none;
      color: $black;
      font-weight: 500;
      cursor: pointer;

      &:hover {
        color: $white;
      }
    }
  }

  &--blue {
    background-color: $blue;
    border-bottom: 1px solid $blue;



    #{$block}__nav {
      width: 85%;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;

      &--left {
      display: flex;
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
      }

      &--right {
      display: flex;
      width: 90%;
      display: inline-flex;
      align-items: center;
      justify-content: flex-end;
      }

    }

    #{$block}__item {
      padding: 0 1.1rem;
      list-style: none;
      line-height: 3.6rem;
      cursor: pointer;
      border-bottom: 1px solid $blue;

      .navbar__dropdown {
        background: $white;
        display: none;
        position: absolute;
        top: 85%;
        padding: 0;
        margin-left: -1.1rem;
        list-style: none;

        li {
          float: none;
          border-bottom: 1px solid $blue;
          position: relative;
          text-align: center;
          line-height: 2.8rem;

          a {
            text-decoration: none;
            color: $black;
            padding: 0 2rem;
            display: block;
          }

          &:hover {
            background: gray;
          }
        }
      }

      &:hover {
        background: $white;
        .navbar__link {
          color: $blue;
        }
        > ul {
          display: block;
        }
      }

    }

    #{$block}__link {
      text-decoration: none;
      color: $white;
      font-weight: 500;
      cursor: pointer;

      &:hover {
        color: $blue;
      }
    }
  }
}



.logo {
  &--blue {
    height: 100%;
    padding: 1.1rem;
    width: 7rem;
    background: url('../images/logo-blue.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  &--white {
    height: 100%;
    padding: 1.1rem;
    width: 7rem;
    background: url('../images/logo-white.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
