/* ============================================
   Grid Settings
   ============================================ */


/* ============================================
   Typography
   ============================================ */

// Base font context
$default-context: 16;
// Some magic number
$magic-number: 24;
$base-font-size: $default-context; // default 16px
$base-line-height: ($magic-number/$base-font-size)+em;
$base-spacing: $base-line-height;
$base-text-color: #000;
$base-font-family: DINPro;


// Colors
$royal-blue: #3359DF;
$torea-bay: #0B22AB;
$cornflower-blue: #6376F9;
$melrose: #A1B0FF;
$atlantis: #77CF42;
$amaranth: #F0405E;
$bright-torquiose: #0FD8E8;
$purple-heart: #A72DD4;
$caribbean-green: #09DBAA;
$tree-poppy: #F7941E;
$color-interval: 10% !global;
$brand-color-key: 'base' !global;
$base-border-radius: 4px !global;

