/* ============================================
   Grid Settings
   ============================================ */


/* ============================================
   Typography
   ============================================ */

// Base font context
$default-context: 16;
// Some magic number
$magic-number: 24;
$base-font-size: $default-context; // default 16px
$base-line-height: ($magic-number/$base-font-size)+em; 
$base-spacing: $base-line-height;
$base-text-color: #000;
$base-font-family: DINPro;






